body {
    margin : auto;
    width : 500px;
    
    }
    .character {
        background-color: teal;
      }
    .modif-p{
    
        color:rgb(255, 127, 129)
    }
    #drago{
        display: flow-root ;
        flex-wrap: wrap;
    }

    .character{
        border: 3px solid purple;
        padding: 20px
    }

    .character img{
        max-height: 300px;

    }